.git
.github
/node_modules
/vendor
/public/build
/public/hot
/public/storage
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/app/public/*
/.env
/.env.*
/tests
*.md
.phpunit.result.cache
.DS_Store
